<grid cols="{xs:1,sm:2,md:3,lg:5,xl:6}"
      gap="{xs:1,sm:2,md:3,lg:4,xl:5}">
<style ngNonBindable>
grid {
  background:orange;
}

</style>
    
  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>
  <cell></cell>
</grid>

<!-- 

cols="{xs:1,sm:2,md:3,lg:4,xl:6}"
rows="{xs:1,sm:2,md:3,lg:4,xl:6}"

colspan="{xs:1,sm:2,md:3,lg:4,xl:6}"
rowspan="{xs:1,sm:2,md:3,lg:4,xl:6}"

colstart="{xs:1,sm:2,md:3,lg:4,xl:6}"
rowstart="{xs:1,sm:2,md:3,lg:4,xl:6}"



align="{xs:'top left'}"
padding="{xs:'pl-1'}"
margin="{xs:'pl-1'}"
text-size="{xs:''}"
class sizing borders 
-->
